@font-face {
  font-family: "smooche-fonts";
  src: url("/fonts/smooch-regular-webfont.woff") format("woff"), url("/fonts/smooch-regular-webfont.woff2") format("woff2");
}
.chatlog .all-browser {
  margin: 0;
  padding: 5;
  background-color: lightgray;
}
.chatlog .all-browser h3 {
  color: rgba(193, 23, 23, 0.8196078431);
  text-shadow: -4px 4px 5px #583a26, 0px 0px 0px rgba(169, 75, 75, 0.59);
}
.chatlog .browser {
  display: flex;
  margin-bottom: 2px;
}
.chatlog .browser span {
  font: bold 12px/1 arial, "sans-serif";
  border-radius: 0 30px 10px 5px;
  margin: 0 10px 0 0;
  padding: 5px 15px 1px 5px;
  background: radial-gradient(circle at 0% 0%, #5B483A 0%, rgba(38, 36, 37, 0.6784313725) 100%) #583A26;
}
.chatlog .browser .message-field {
  background-color: #ee432e;
  border: 1px solid #951100;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -webkit-text-decoration: none ", " color ": " #fff ", " textShadow ": " 0px -1px 1px rgba(0, 0, 0, 0.8);
          text-decoration: none ", " color ": " #fff ", " textShadow ": " 0px -1px 1px rgba(0, 0, 0, 0.8);
  font: bold 15px/1 "helvetica neue", helvetica, arial, sans-serif;
  display: flex;
  flex: 2;
  padding: 1px 15px 1px 5px;
  justify-content: space-between;
}

.user-name-chat-bot {
  /*animation-name: growAndGlow;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation: fadeIn_UserForm_Chat  all 1000ms cubic-bezier(0.42, 0, 1, 1) 0s;
  */
  position: fixed;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  width: 450px;
  height: 230px;
  padding: 20px;
  box-shadow: 0px 0px 150px 130px rgba(0, 0, 0, 0.5);
  overflow: auto;
  transition: all 1000ms cubic-bezier(0.42, 0, 1, 1) 0s;
  background: radial-gradient(100% 240% at 0% 0%, #b4bcc2 0%, #b4bcc2 100%) rgba(91, 135, 95, 0.65);
  border-radius: 20px/40px;
}
.user-name-chat-bot * {
  color: whitesmoke;
}
.user-name-chat-bot input {
  margin-left: 5px;
}
.user-name-chat-bot .chatbot-btn {
  width: 100px;
  font-size: 15px;
  color: #454545;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.22);
  text-transform: capitalize;
  padding: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 50px;
  -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.65);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.65);
  background: #F3F2EA;
  background: -moz-linear-gradient(top, #F3F2EA 0%, #A39F5F 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3F2EA), color-stop(100%, #A39F5F));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F3F2EA", endColorstr="#A39F5F", GradientType=0);
}
.user-name-chat-bot .chatbot-btn:active {
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.22), 0 1px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.65);
  -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.65);
  background: #F3F2EA;
  background: -moz-linear-gradient(top, #A39F5F 0%, #F3F2EA 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A39F5F), color-stop(100%, #F3F2EA));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#A39F5F", endColorstr="#F3F2EA", GradientType=0);
}
.user-name-chat-bot .chatbot-btn:focus,
.user-name-chat-bot .chatbot-btn:active:focus,
.user-name-chat-bot .chatbot-btn.active:focus,
.user-name-chat-bot .chatbot-btn.focus,
.user-name-chat-bot .chatbot-btn:active.focus,
.user-name-chat-bot .chatbot-btn.active.focus {
  /*outline: thin dotted;
   outline: 5px auto -webkit-focus-ring-color; 
  outline-offset: -2px;*/
  outline: none;
}

.wrapper-messaage-box-foter {
  flex: 3;
  display: flex;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.75);
  margin: 5px 0;
}
.wrapper-messaage-box-foter textarea {
  color: #307474;
  border: none;
}
.wrapper-messaage-box-foter canvas {
  border: none;
}

@keyframes fadeIn_UserForm_Chat {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 200px;
  }
}
@keyframes growAndGlow {
  from {
    background-color: yellow;
    animation-timing-function: cubic-bezier(1, 0.03, 1, 0.115);
  }
  50% {
    transform: scale(1.5);
    background-color: blue;
    animation-timing-function: linear;
  }
  to {
    transform: scale(3);
    background-color: red;
  }
}/*# sourceMappingURL=chatBot.css.map */